body {
    background-color: cadetblue;
}

.racket {
    position: absolute;
    height: 250px;
    aspect-ratio: 1/1.5;
    top: 45%;
}

#left-racket {
    left: 10%;
}

#right-racket {
    left: 75%;
}

#ball {
    width: 50px;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 100%;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    position: absolute;
    top: 50%;
    left: 42.5%;
}